.ticket {
    flex: 4;
    padding: 20px;
}

.ticketTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.ticketStatusPendente{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(162, 165, 2);
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.ticketStatusEmAndamento{
    width: 150px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.ticketStatusConcluido{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(0, 128, 53);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.ticketStatusEmAnalise{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(66, 0, 128);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}




.ticketContainer{
    display: flex;
    margin-top: 20px;
}

.ticketShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.ticketUpdate{
    flex: 2;
    padding: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.ticketShowTop{
    display: flex;
    align-items: center;
}

.ticketShowTopMember{
    display: flex;
    align-items: center;
    padding: 10px;
}

.ticketShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.ticketShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.ticketShowUsername{
    font-weight: 600;
}

.ticketShowUserTitle{
    font-weight: 300;
}


.ticketShowBotton{
    margin-top: 20px;
}

.ticketShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175,170,170)
}

.ticketShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #4444
}

.ticketShowIcon {
    font-size: 16px !important;
}

.ticketShowIconDetails{
    font-size: 16px !important;
    margin-left: 10px;
}

.ticketShowInfoTitle{
    margin-left: 10px;
    color: #000000ad;
    font-weight: 600;
}

.ticketShowInfoSubTitle{
    margin-left: 10px;
    color: #4444;
    font-weight: 600;
}

.ticketUpdateImg{
    width: 200px;
    height: 200px;
    border: 5px;
    object-fit: cover;
}


.ticketUpdateButton{
    width: 80px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: teal;
    font-size: 16px;
}