.sidebar{
    flex: 1;
    height: 100vh;
    /* background-color: rgb(247, 247, 247); */
    position: sticky;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.sidebarWrapper{
    padding: 10px 20px 20px 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: lightgray;
}

.sidebarList{
    list-style: none;
    padding: 20px 5px 5px 5px;
}

.sidebarListItem{
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(243, 243, 250);
}

