.sidebar{
    flex: 1;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    position: sticky;
    border-radius: 10px;
}

.sidebarWrapper{
    padding: 10px 20px 20px 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: lightgray;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(228, 228, 250);
}

